<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="D:/New folder/mavenTest">

        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://www.emirates.com/lk/english/"/>

               <classes>
                   <class name="com.org.Base.BaseTest"/>
                   <class name="First.LandingPageTest"/>
                   <class name="First.SearchFlightsTest"/>
               </classes>
    </test>
</suite>